<main class="home">
  <div class="jumbotron">
    <div class="container py-5 my-5 text-end">
      <h2>Hello. My name is <span class="highlight">Andrea</span> and I have creative ideas and build websites.</h2>
      <%= link_to "View my work", portfolio_path, class: "btn right" %>
      </div>
    </div>
  </div>
</main>
