<main class="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Here's how you can reach me!</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pellentesque turpis ipsum, eu tempor odio tincidunt eu. Cras venenatis, arcu a laoreet tempor, lacus urna feugiat turpis, quis malesuada urna justo a justo.</p>
        <p>Integer sed ipsum iaculis, placerat lorem eget, tincidunt lectus.</p>
      </div>
      <div class="col-md-6">
        <form class="row g-3">
          <div class="col-md-12">
            <label for="inputEmail4" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail4">
          </div>
          <div class="col-md-12">
          <label for="inputText" class="form-label">Comments</label>
            <textarea class="form-control" aria-label="With textarea"></textarea>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Sign in</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
